html,
body {
	width: 100Vw;
	height: 100Vh;
	margin: 0;
	background: lightgray;
}

.canvas {
	background-color: grey;
	position: relative;
	overflow: hidden;
	transform: translate3d(0,0,0);
}

.canvas .actor {
	width: 10px;
	height: 10px;
	position: absolute;
	background-color: green;
	background-image: url('/imgs/buildingssheet7dv.png');
}

.canvas .actor.player {
	width: 14px;
	height: 19px;
	background-position: -481px -387px;
}

.canvas .actor.enemy {
	background-color: red;
}

#main {
	width: 480px; height: 0;
	margin: 2em auto 0;
}