html,
body {
	width: 100Vw;
	height: 100Vh;
	margin: 0;
	background: lightgray;
}

.canvas {
	background-color: grey;
	position: relative;
	overflow: hidden;
	transform: translate3d(0,0,0);
}

.canvas .actor {
	width: 10px;
	height: 10px;
	position: absolute;
	background-color: green;
	background-image: url('/imgs/buildingssheet7dv.png');
	background-size: 200%;
}

.canvas .actor.player {
	background-color: blue;
}

.canvas .actor.enemy {
	background-color: red;
}

#main {
	width: 480px; height: 0;
	padding-bottom: 360px;
	margin: 2em auto 0;
}